*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.loader {
    width: 64px;
    height: 64px;
    background: none;
    border: 6px solid white;
    border-top: 6px solid #0666ab;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 1);
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background: #1B1E21;
    padding: 15px 0;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.pagination__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

.pagination__item {
    background: #303539;
    padding: 5px 26px;
    border-radius: 50px;
    cursor: pointer;
}

.pagination__item:hover {
    filter: brightness(150%);
}

.pagination__link {
    color: #299DED;
    text-decoration: none;
}

.pagination__item.selected a{
    color: white;
}

.logo {
    color: white;
    font-size: 25px;
}




.main {
    padding-top: 40px;
    background: #262A2E;
    min-height: calc(100vh - 60px);
}

.films-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.film-card {
    color: white;
    width: 270px;
    height: 450px;
}

.film-card__main {
    position: relative;
    border: 6px solid white;
    width: 100%;
    height: 90%;
}

.film-card__photo {
    width: 100%;
    height: 100%;
}

.films-card__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(48, 53, 57, 0.5);
    box-shadow: inset 20.7px -20.7px 20.7px rgba(36, 40, 43, 0.1), inset -20.7px 20.7px 20.7px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.films-card__info.show {
    display: flex;
}

.film-card__rating {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.film-card__lang {
    font-size: 20px;
    text-align: center;
}

.film-card__button {
    text-decoration: none;
    cursor: pointer;
    color: #303539;
    font-size: 25px;
    background: #299DED;
    padding: 5px 30px;
    border-radius: 5px;

}

.film-card__button:hover {
    filter: brightness(150%);
}

.film-card__footer {
    width: 100%;
}

.film-card__title {
    font-weight: 300;
    font-size: 18px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
}

.film-card__year {
    font-weight: 300;
    font-size: 12px;
    color: #9CA1A4;
}

/* Film detail */

.film-block {
    display: flex;
    align-items: flex-start;
    column-gap: 65px;
    width: 100%;
    height: 100%;
}

.back-button {
    padding: 5px 20px;
    background: #303539;
    border-radius: 5px;
    display: block;
    height: 40px;

}

.back-button img {
    width: 100%;
    height: 100%;
}

.film__image {
    position: relative;
    border-radius: 5px;
    width: 450px;
    height: 650px;
    transition: all 0.2s linear;
}

.film__image:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}

.film__image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.film__rating {
    color: white;
    font-size: 25px;
    font-weight: 200;
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(48, 53, 57, 0.85);
    border-radius: 5px;
    padding: 0 8px;
    gap: 5px;
    z-index: 2;
}


.film__rating .star {
    width: 20px;
    height: 20px;
}

.film__main {
    max-width: 670px;
    color: white;
}

.film__title {
    font-weight: 400;
    font-size: 50px;
}

.film__year {
    font-weight: 200;
    font-size: 35px;
    line-height: 41px;
}

.film__genres-list {
    list-style: none;
    display: flex;
    column-gap: 15px;
}

.film__genres-item {
    position: relative;
    padding-left: 20px;
    text-transform: lowercase;
}



.film__genres-item:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 13px;
    height: 13px;
    background: #606365;
    border-radius: 50%;
    transition: all 0.2s linear;
}

.film__genres-item:hover::before {
    background: #299ded;
}

.film__subtitle {
    margin-top: 20px;
    font-weight: 500;
    font-size: 30px;
}

.film__description {
    padding-top: 15px;
    font-size: 20px;
    font-weight: 300;
}

.comments__list {
    list-style: none;
    max-height: 280px;
    overflow-y: auto;
}

.comments__item {
    margin-top: 15px;
    padding: 5px 10px;
    background: #606365;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.comments__author {
    font-weight: 300;
    font-size: 15px;
}
.comments__date {
    font-weight: 200;
    font-size: 15px;
}

.comments__text {
    font-weight: 400;
    font-size: 20px;
}

.comments__form {
    margin-top: 25px;
}

.form__field {
    display: grid;
    grid-template-columns: 1fr 65px;
    padding: 10px;
    background: rgba(163, 163, 164, 0.1);
    border-radius: 5px;

}

.form__field .back-button {
    align-self: center;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.5);
}

.comment-area {
    background: #606365;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    font-weight: 300;
    color: white;
    max-height: 70px;
    max-width: 560px;
}

.comment-area::-webkit-input-placeholder {
    font-weight: 300;
    font-size: 20px;
    color: white;
}

@media (max-width: 767px) {
    .header-wrapper {
        justify-content: center;
    }
    .logo {
        display: none;
    }
    .pagination__item {
        padding: 5px 15px;
    }
    .film__image {
        width: 100%;
    }
    .film__title {
        font-size: 30px;
    }
    .film__genres-list {
        flex-direction: column;
    }
}

@media (max-width: 1200px) {
    .film-block {
        flex-direction: column;
        padding-bottom: 20px;
        max-width: 470px;
        margin: 0 auto;
    }
}